/* shared style  */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px auto;
    font-family: 'Lato', sans-serif;
    
}
.team-bg{
    background-image: url("images/team.png");
    background-repeat: no-repeat;
    
    
    height: 55vh;
    width: auto;
    margin-left: 30px;
    
}